# SPDX-FileCopyrightText: 2021 RTE FRANCE
#
# SPDX-License-Identifier: Apache-2.0

name: SonarCloud Analysis

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'main'
      - 'develop'
  pull_request_target:
    branches:
      - 'main'
      - 'develop'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 15

    if: ${{ (github.event_name != 'pull_request_target' && github.actor != 'dependabot[bot]') || (github.actor == 'dependabot[bot]' && github.event_name == 'pull_request_target') }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 1.11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set Common Sonar Variables
        id: set_env
        run: |
          echo "##[set-output name=sonar_opts;]$(echo -Dsonar.projectKey=com-pas_compas-core \
            -Dsonar.organization=com-pas \
            -Dsonar.host.url=https://sonarcloud.io)"
      - name: Create custom Maven Settings.xml
        uses: whelk-io/maven-settings-xml-action@v20
        with:
          output_file: custom_maven_settings.xml
          servers: '[{ "id": "github-packages-compas", "username": "OWNER", "password": "${{ secrets.GITHUB_TOKEN }}" }]'
      - name: Build and analyze (Pull Request)
        if: ${{ github.event_name == 'pull_request' || (github.actor == 'dependabot[bot]' && github.event_name == 'pull_request_target') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./mvnw -B -s custom_maven_settings.xml -Psonar \
            ${{ steps.set_env.outputs.sonar_opts }} \
            -Dsonar.pullrequest.branch=${{ github.ref_name }} \
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }} \
            -Dsonar.pullrequest.base=${{ github.base_ref }} \
            -Dsonar.scm.revision=${{ github.event.pull_request.head.sha }} \
            verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      - name: Build and analyze (Push)
        if: ${{ github.event_name == 'push' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./mvnw -B -s custom_maven_settings.xml -Psonar \
            ${{ steps.set_env.outputs.sonar_opts }} \
            -Dsonar.branch.name=${{ github.ref_name }} \
            verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
